@font-face 
{
	font-family: "Neon";
	src: url("../fonts/Neon/Neon.ttf");
}

@font-face
{
	font-family: "Product Sans";
	src: url("../fonts/Product Sans/Product Sans.ttf");
}

.product-description 
{
	font-family: "Neon";
}

body 
{
	font-family: "Product Sans";
}